#input-text {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 50px rgba(130, 10, 242, 0.9);
}

#submit-button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: forestgreen;
  color: darkblue;
  border: NONE;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9);
  transition: background-color 0.3s;
}
#submit-button:hover {
  background-color: rgb(31, 50, 5);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
}

body {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  body {
    background-image: none;
    background-color: rgb(50, 50, 48);
  }
}

h1 {
  background-color: rgba(16, 55, 231, 0.986);
}

@media screen and (max-width: 600px) {
  /* Styles for screens smaller than 600px (mobile devices) */
  .container {
    height: auto;
    padding: 1rem;
  }

  #input-text {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  /* Styles for screens smaller than 768px (small tablets) */
  .container {
    height: auto;
    padding: 2rem;
  }

  #submit-button {
    font-size: 1rem;
  }
}
